In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
#creating data
observation1 = [89, 89, 88, 78, 79]
observation2 = [93, 92, 94, 89, 88]
observation3 = [89, 88, 89, 93, 90]
observation4 = [81, 78, 81, 92, 82]

In [4]:
from scipy.stats import f_oneway

In [7]:
f_oneway(observation1, observation2, observation3, observation4)

F_onewayResult(statistic=4.625000000000002, pvalue=0.016336459839780215)

In [8]:
# we reject the null hyppothesis

In [10]:
data=pd.read_csv("https://raw.githubusercontent.com/researchpy/Data-sets/master/difficile.csv")

In [11]:
data.head()

   person  dose  libido
0       1     1       3
1       2     1       2
2       3     1       1
3       4     1       1
4       5     1       4

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   person  15 non-null     int64
 1   dose    15 non-null     int64
 2   libido  15 non-null     int64
dtypes: int64(3)
memory usage: 488.0 bytes

In [13]:
data['person'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15],
      dtype=int64)

In [14]:
data['dose'].unique()

array([1, 2, 3], dtype=int64)

In [16]:
data['dose'].replace({1: 'placebo', 2: 'low', 3: 'high'}, inplace= True)

In [17]:
data.head()

   person     dose  libido
0       1  placebo       3
1       2  placebo       2
2       3  placebo       1
3       4  placebo       1
4       5  placebo       4

In [18]:
data['dose'].unique()

array(['placebo', 'low', 'high'], dtype=object)

In [22]:
data.shape

(15, 3)

In [19]:
p1=data['libido'][data['dose']=='placebo']

In [21]:
p1

0    3
1    2
2    1
3    1
4    4
Name: libido, dtype: int64

In [23]:
p2=data['libido'][data['dose']=='low']
p3=data['libido'][data['dose']=='high']

In [24]:
f_oneway(p1,p2,p3)

F_onewayResult(statistic=5.11864406779661, pvalue=0.024694289538222603)

In [25]:
import scipy.stats as stats

# Create three samples of weights for three groups of athletes
football_weights = [150, 160, 170, 180, 190, 200, 210, 220, 230, 240]
basketball_weights = [140, 150, 160, 170, 180, 190, 200, 210, 220, 230]
baseball_weights = [130, 140, 150, 160, 170, 180, 190, 200, 210, 220]

# Perform ANOVA test
f_statistic, p_value = stats.f_oneway(football_weights, basketball_weights, baseball_weights)

# Print results
print("F-Statistic:", f_statistic)
print("P-value:", p_value)

if p_value < 0.05:
    print("There is a significant difference in the mean weight of athletes across the three sports.")
else:
    print("There is no significant difference in the mean weight of athletes across the three sports.")
# In this example, we first create three samples of weights for athletes in football, basketball, and baseball. We then use the f_oneway() function from the scipy.stats module to perform the ANOVA test on these samples.

# The f_oneway() function returns the F-statistic and p-value for the ANOVA test. We then print these values and compare the p-value to the significance level of 0.05. If the p-value is less than 0.05, we conclude that there is a significant difference in the mean weight of athletes across the three sports.

# Note that this example assumes that the samples are normally distributed and have equal variances. If these assumptions are not met, different methods may need to be used.

F-Statistic: 1.090909090909091
P-value: 0.3502628913097575
There is no significant difference in the mean weight of athletes across the three sports.

In [27]:
data = pd.DataFrame({
    'sport':['football']*10 + ['basketball']*10 + ['baseball']*10,
    'weight': [180, 190, 185, 195, 175, 200, 185, 195, 190, 200,
               175, 180, 170, 185, 190, 195, 180, 185, 175, 185,
               195, 200, 190, 205, 195, 200, 185, 195, 190, 200]
})

In [29]:
data.sample(10)

         sport  weight
17  basketball     185
27    baseball     195
11  basketball     180
29    baseball     200
26    baseball     185
28    baseball     190
19  basketball     185
24    baseball     195
5     football     200
8     football     190

In [30]:
import scipy.stats as stats
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [31]:
model = ols('weight ~ sport', data=data).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
print(anova_table)

          sum_sq    df         F    PR(>F)
sport      915.0   2.0  8.489691  0.001379
Residual  1455.0  27.0       NaN       NaN

In [32]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd

# Perform Tukey's HSD test
tukey = pairwise_tukeyhsd(endog=data['weight'], groups=data['sport'], alpha=0.05)

# Print the results
print(tukey.summary())

     Multiple Comparison of Means - Tukey HSD, FWER=0.05
=============================================================
  group1     group2   meandiff p-adj   lower    upper  reject
-------------------------------------------------------------
  baseball basketball    -13.5 0.0009 -21.6398 -5.3602   True
  baseball   football     -6.0 0.1798 -14.1398  2.1398  False
basketball   football      7.5 0.0753  -0.6398 15.6398  False
-------------------------------------------------------------

In [34]:
#manova
data=pd.DataFrame({
    'group':['A']*6 + ['B']*6,
     'math': [85, 72, 78, 80, 85, 80, 75, 68, 70, 72, 80, 82],
    'reading': [76, 80, 82, 88, 86, 90, 72, 75, 80, 82, 80, 85],
    'writing': [80, 75, 70, 85, 80, 82, 75, 80, 78, 80, 85, 88]
})

In [49]:
data.sample(5)

    group  math  reading  writing
9       1    72       82       80
2       0    78       82       70
6       1    75       72       75
8       1    70       80       78
11      1    82       85       88

In [46]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   group    12 non-null     object
 1   math     12 non-null     int64
 2   reading  12 non-null     int64
 3   writing  12 non-null     int64
dtypes: int64(3), object(1)
memory usage: 512.0+ bytes

In [44]:
data = data._convert(numeric=True)

In [48]:
data['group']=pd.get_dummies(data['group'],drop_first=True)

In [36]:
import statsmodels.api as sm
from statsmodels.multivariate.manova import MANOVA

In [54]:
y = data[['math', 'reading', 'writing']].values
x = data['group']

# Fit the MANOVA model
manova = MANOVA(y, x)

# Print the results
print(manova.mv_test())

                 Multivariate linear model
===========================================================

-----------------------------------------------------------
           x0           Value  Num DF Den DF F Value Pr > F
-----------------------------------------------------------
          Wilks' lambda 0.2118 3.0000 9.0000 11.1650 0.0022
         Pillai's trace 0.7882 3.0000 9.0000 11.1650 0.0022
 Hotelling-Lawley trace 3.7217 3.0000 9.0000 11.1650 0.0022
    Roy's greatest root 3.7217 3.0000 9.0000 11.1650 0.0022
===========================================================

In [58]:
# Perform Tukey's HSD test
tukey = pairwise_tukeyhsd(data[['math','reading','writing']], data['group'])

# Print the results
print(tukey.summary())

IndexError: index 2 is out of bounds for axis 0 with size 2